/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(245, 245, 245, 0);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12.5px;
    background-color: rgb(255, 255, 255);
    color: orange;
}

body p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .15em 0 .225em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 40px rgba(255, 183, 16, 0.264);
    color: #ff7b00;
    background: none;
    -webkit-text-fill-color: initial;
}

header {
    padding: 0 auto;
    border-bottom: 0px solid #333;
    font-weight: 700; 
    margin-bottom: 2%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7b00;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-left, .navbar-right {
flex: 1;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.logo {
    width: 160px;
    height: auto;
}

.page-subtitle {
    margin: 0;
    font-weight: 500;
    font-size: large;
    text-align: center;
    flex-grow: 1;
}



.menu {
    display: block;
    box-sizing: border-box;
    background: rgb(42,61,153);
    height: 54px;
    width: 54px;
    padding: 36px;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;

    top: 0;
    right: 0;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
    transition: 1.3s cubic-bezier(.53, 0, .15, 1.3);
}

.menu.expanded {
    width: 264px;
}

span {
    padding: 9px;
    visibility: visible;
    opacity: 1;
    transition: .3s;
    transform: rotateY(0deg);
}

span:nth-of-type(1) { transition-delay: .4s; }
span:nth-of-type(2) { transition-delay: .5s; }
span:nth-of-type(3) { transition-delay: .6s; }
span:nth-of-type(4) { transition-delay: .7s; }

span.hidden {
    width: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(90deg);
}

span.hidden:nth-of-type(1) { transition-delay: .3s; }
span.hidden:nth-of-type(2) { transition-delay: .2s; }
span.hidden:nth-of-type(3) { transition-delay: .1s; }
span.hidden:nth-of-type(4) { transition-delay: 0s; }

.container {
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;
}

.container.close {
    right: 0;
}

.toggle {
    position: relative;
    height: 46.2px;
    width: 47.6px;
    cursor: pointer;
}

.toggle:after, .toggle:before {
    content: '';
    background: #ffffff;
    width: 36px;
    height: 4.5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1.3s cubic-bezier(.53, 0, .15, 1.3);
}

.toggle:before { top: -30%; }
.toggle:after { top: 30%; }

.toggle.close:before {
    transform: rotate(-225deg);
    top: 0;
}

.toggle.close:after {
    transform: rotate(225deg);
    top: 0;
}



time {
    border: 1px solid #f7f7f700;
    padding: 4px 12px;
    background-color: #c4501a6e;
    color: #f7f7f7;
    font-size: 2em;
    font-weight: 500;
    border-radius: 10px;
}



/*
  Variáveis
*/

:root {
    --main-color: #ff8400;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
  }
  
  /*
    Fontes
  */
  
  @font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  /*
    Zerar estilos
  */
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  input, button {
      outline: none !important;
      border: none;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  /*
    Utilitários
  */
  
  .text1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--text1);
    line-height: 1.5;
  }
  
  .text2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
  }
  
  .margin-bottom-35 {
    margin-bottom: 35px;
  }
  
  .margin-top-35 {
    margin-top: 35px;
  }
  
  .margin-bottom-8 {
    margin-bottom: 8px;
  }
  
  .margin-top-8 {
    margin-top: 8px;
  }
  
  .margin-left-50 {
    margin-left: 50px;
  }
  
  /*
    Login
  */
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login {
    width: 100%;  
    margin-left: 1.8%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--white-color);  
    background-color: #ffffff00;
  }
  
  .wrap-login {
    width: 450px;
    background: var(--white-color);
    border-radius: 10%;
    align-items: center;
  }
  
  /*
    Formulário
  */
  
  .login-form {
    align-items: center;
    
  }
  
  .login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: var(--highligth-text);
    line-height: 1.2;
    text-align: center;
  }
  
  /*
    Input
  */
  
  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--line-input);
  }
  
  .input-form {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
  }
  
  .focus-input-form {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input-form::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: var(--main-color);
  }
  
  .focus-input-form::after {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: var(--text1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
  }
  
  .input-form:focus + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .input-form:focus + .focus-input-form::before {
    width: 100%;
  }
  
  .has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .has-val.input-form + .focus-input-form::before {
    width: 100%;
  }
  
  /*
    Botão
  */
  
  .container-login-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: var(--white-color);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: all 0.4s;
  }
  
  .login-form-btn:hover  {
    background-color: var(--highligth-text);
  }
  
  /*
    Links - Login utils
  */
  
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: white;
      margin: 0px;
      transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: var(--highligth-text);
  }
  
  /*
    Login utils
  */
  
  .login-utils {
    margin-top: 20px;
  }
  
  .login-utils li {
    position: relative;
    padding-left: 16px;
  }
  
  .login-utils li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--point-list);
    top: 45%;
    transform: translateY(-50%);
    left: 0;
  }
  
  
  
  